@font-face {
    font-family: "Euphoria";
    src: url("./assets/fonts/EuphoriaScript-Regular.ttf");
}
@font-face {
    font-family: 'BreeSerif';
    src: url('./assets/fonts/BreeSerif-Regular.ttf');
}